---
import Section from "../Section.astro"
import HTML from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import JavaScript from "@/icons/javascript.astro"
import TypeScript from "@/icons/type.astro"
import React from "@/icons/react.astro"
import Node from "@/icons/node.astro"
import MySQL from "@/icons/sql.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/GitHub.astro"
import Tailwind from "@/icons/tailwind.astro"
import Next from "@/icons/next.astro"
import { skills } from "@cv"
import Swift from "@/icons/swift.astro"
import SwiftUI from "@/icons/swiftui.astro"
import Kotlin from "@/icons/kotlin.astro"
import Flutter from "@/icons/flutter.astro"
import Vue from "@/icons/vue.astro"
import astro from "@/icons/astro.astro"
import AWS from "@/icons/aws.astro"
import Django from "@/icons/django.astro"
import Postgres from "@/icons/postgres.astro"
import Python from "@/icons/python.astro"
import Angular from "@/icons/angular.astro"
import Java from "@/icons/java.astro"
import MongoDB from "@/icons/mongodb.astro"
import Jira from "@/icons/jira.astro"
import PHP from "@/icons/php.astro"


const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  Swift,
  SwiftUI,
  Kotlin,
  Flutter,
  Vue,
  astro,
  AWS,
  Django,
  Postgres,
  Python,
  Angular,
  Java,
  MongoDB,
  Jira,
  PHP
}

skills.sort((a,b) => {
  const nameA = a.name.toUpperCase();
  const nameB = b.name.toUpperCase();
  if (nameA < nameB) {
    return -1;
  }
  if (nameA > nameB) {
    return 1;
  }
  return 0;
})
---

<Section title="Habilidades">
  <ul class="flex flex-wrap gap-2">
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li class="flex gap-1 text-xs rounded-md bg-gray-200 text-slate-600 py-1.5 px-2">
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>
