---
// se ejecuta en el servidor o en build time <----
const { title } = Astro.props
---

<section>
  {title && <h2 class="text-2xl font-bold mb-4">{title}</h2>}
  <slot />
</section>

<script>
  // se ejecuta en el cliente <----
</script>

<style>
  section {
    max-width: 800px;
    margin: 0 auto 48px;
  }

  h2 {
    line-height: 1.5;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>
